<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diakonidze.kartlos.voiage" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="eIHidvQ1zFhfFjhapAMF5IMsSBM43F83x4RYQAaP" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="UFDZAIgmydGebmxYwbyauLpHUZSoW8kmQY9l91hf" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddStatement"
            android:label="@string/title_activity_add_statement"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".DetailPageDriver"
            android:label="@string/title_activity_detail_page"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".DetailPagePassanger"
            android:label="@string/title_activity_detail_page_passanger"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".MyStatements"
            android:label="ჩემი განცხ."
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diakonidze.kartlos.voiage.MainActivity" />
        </activity>
        <activity
            android:name=".FavoriteStatements"
            android:label="რჩეული განცხ."
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diakonidze.kartlos.voiage.MainActivity" />
        </activity>
        <activity
            android:name=".EditMyStatement"
            android:label="რედაქტირება" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >

        </activity>
    </application>

</manifest>
